* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* HOVER */
.side_bar .nav_side ul li:hover a {
  color: white;
}

.side_bar .nav_side ul li:hover img {
  filter: none;
}

.side_bar .nav_side .playlist a:hover {
  color: rgba(255,255,255, 1);
}

.nav_side_bottom a:hover {
  color: rgba(255,255,255, 1);
}

.side_bar .nav_side .playlist .nav_side_square:hover {
  background-color: rgba(255,255,255, 1);
}



/* SIDEBAR */
.side_bar {
  width: 200px;
  height: calc(100vh - 80px);
  background-color: #000000;
  position: relative;
}

.side_bar .logo img {
  max-width: 55%;
  margin: 1rem;
}

.side_bar a {
  color: rgba(255,255,255, 0.5);
  text-decoration: none;
}

.side_bar .nav_side_bottom {
  padding-left: 1rem;
}

.side_bar .nav_side ul {
  list-style: none;
}

.side_bar .playlist {
  overflow: hidden;
}

.nav_side {
  overflow: hidden;
  height: calc(100% - 143px);
}

.music_player {
  z-index: 1;
}

.side_bar .playlist ul {
  overflow-y: scroll;
  height: 80%;
}

.side_bar .nav_side ul li {
  line-height: 1.8rem;
  padding-left: 1rem;
}

.side_bar .nav_side > ul li:first-of-type {
  border-left: 2px solid white;
}

.side_bar .nav_side ul li img {
  width: 1.3rem;
  vertical-align: middle;
  filter: contrast(.1);
  margin-right: 0.3rem;
}

.side_bar .nav_side ul li a {
  font-size: 0.8rem;
}

.side_bar .nav_side .playlist {
  margin-top: 1rem;
}

.side_bar .nav_side .playlist > h3 {
  color: rgb(255,255,255);
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.side_bar .nav_side .playlist .nav_side_square {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  background-color: rgba(255,255,255, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 0.2rem;
  margin-left: 1rem;
}

.side_bar .nav_side .playlist .nav_side_square span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 2rem;
  font-weight: 300;
}

.side_bar .nav_side .playlist ul li:first-of-type {
  margin-top: 0.5rem;
}

.side_bar .nav_side .playlist ul li:not(:first-of-type) a {
  font-size: 0.8rem;
  font-weight: 300;
}

.side_bar .nav_side_bottom {
  width: 100%;
  height: 75px;
  /* position: absolute;
  bottom: 0; */
  margin-bottom: 0.5rem;
}

.side_bar .nav_side_bottom a {
  font-size: 0.7rem;
}

.side_bar .nav_side_bottom i {
  color: rgba(255,255,255, 0.5);
  font-size: 0.7rem;
}

.side_bar .nav_side_bottom img {
  height: 0.8rem;
  line-height: 0.8rem;
  vertical-align: middle;
}

.side_bar .nav_side_bottom img:last-of-type {
  background-color: rgba(255,255,255, 0.5);
  height: 1.8rem;
  width: 1.8rem;
  line-height: 1.8rem;
  border-radius: 100%;
}

.side_bar .nav_side_bottom a:last-of-type {
  color: rgba(255,255,255, 1);
  display: inline-block;
  font-weight: 600;
  font-size: 0.8rem;
}

.side_bar .nav_side_bottom .hr {
  height: 0.1rem;
  background-color: rgba(255,255,255, 0.5);
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
}


/* MAIN */
main {
  width: calc(100% - 200px);
  height: calc(100% - 80px);
  background-color: #141922;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

/* UPGRADE */
.upgrade {
  width: 100%;
  height: 80px;
  background-color: #080B12;
  position: relative;
}

.upgrade .upgrade_button button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: inherit;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  border-radius: 2rem;
  margin-right: 2rem;
}

/*NAV BAR*/
.nav_bar ul {
  margin: 1rem 20%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav_bar ul li a{
  text-decoration: none;
  color: rgba(255,255,255, 0.5);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
}

/* Global ALbum property */
.rec_played > h1,
.creato_per > h1,
.artisti > h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-left: 0.8rem;
  color: white;
}

.creato_per > p,
.artisti > p {
  margin-left: 0.8rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;;
  color: rgba(255,255,255, 0.5);
}

.item_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 1.2rem;
  /* justify-content: space-around; */
}

.album_item {
  width: calc(93% / 6);
  height: auto;
  min-width: 7rem;
  text-align: center;
  color: white;
}

.album_item:not(:last-child) {
  margin-right: calc(7% / 6);
}

.album_item h4 {
  font-size: 0.9rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  line-height: 0.95rem;
}

.album_item span {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

.album_item img {
  width: 100%;
}

.album_item_center img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}

/* MUSIC PLAYER */
.play {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.audio {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.music_player {
  width: 100vw;
  height: 80px;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music_player .music_details {
  display: flex;
  align-items: center;
}

.music_player .music_details * {
  color: rgba(255, 255, 255, 0.5);
}

.music_player .music_details img {
  width: 40px;
  margin: auto 0.8rem;
}

.music_player .music_details .text_music {
  display: inline-block;
}

.music_player .music_details h5 {
  font-size: 0.8rem;
  color: white;
}

.music_player .music_details p {
  font-size: 0.7rem;
}

.music_player .music_details .icon_music {
  margin-left: 2rem;
}

.music_player .music_details .icon_music i:first-of-type {
  margin-right: 0.8rem;
}

.music_player .play .music_function {
  display: flex;
  align-items: center;
  color: white;
}

.music_player .play .music_function > i {
  margin: auto 1rem;
}

/* Slider */
.slidecontainer {
  width: 100%;
}

.play .slidecontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slidecontainer span {
  font-size: 0.7rem;
  color: white;
  padding: auto 1rem;
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 35%, rgba(255,255,255,0.5) 35%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.play .slidecontainer:hover .slider {
  opacity: 1;
  background: linear-gradient(90deg, #66752B 35%, rgba(255,255,255,0.5) 35%);
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  opacity: 0;
}

.slidecontainer:hover .slider::-moz-range-thumb {
  opacity: 1;
}

.audio .slider {
  width: 7rem;
  margin-right: 1rem;
}

.audio i {
  color: rgba(255,255,255,0.9);
  font-size: 0.8rem;
  margin: auto 0.5rem;
}

.audio .slidecontainer {
  line-height: 6px;
  vertical-align: middle;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .nav_bar ul {
    margin: 1rem 0;
  }

  .album_item {
    width: calc(93% / 4);
  }

  .album_item:not(:last-child) {
    margin-right: calc(7% / 4);
  }

  .album_item {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .nav_bar ul {
    margin: 1rem 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav_bar ul li {
    margin: 1rem calc(100% / 24);
  }

  .album_item {
    width: calc(93% / 2);
    min-width: 9rem;
  }

  .album_item:not(:last-child) {
    margin-right: calc(7% / 2);
  }

  .album_item {
    margin-bottom: 2rem;
  }

  main {
    overflow: scroll;
  }
}
